# Example Apache Virtual Host Configuration

<VirtualHost *:80>
    ServerName myapp.epache.com
    DocumentRoot /var/www/myapp

    <Directory /var/www/myapp>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

